@model IEnumerable<FPTBook.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Giỏ hàng của bạn</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookIsbn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Isbn)
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Books" asp-action="Checkout">Checkout</a>